.header {
  display: flex;
  justify-content: center;
}

.title {
  width: 50vw;
}

.notfound {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .title {
    width: 60vw;
  }
}

@media (min-width: 1024px) {
  .title {
    width: 30vw;
  }
}
