.home {
  min-height: 100vh;
  &.gryffindor {
    color: #d3a625;
    background-color: #7f0909;
  }

  &.hufflepuff {
    color: #f0c75e;
    background-color: #372e29;
  }

  &.ravenclaw {
    background-color: #0e1a40;
    color: #946b2d;
  }

  &.slytherin {
    background-color: #1a472a;
    color: #aaaaaa;
  }
}

.header {
  display: flex;
  justify-content: center;
}

.title {
  width: 80vw;
  margin: 30px;
}

.notfound {
  width: 100%;
  text-align: center;
}

.copy {
  font-weight: lighter;
  margin: 5px;
}

.link {
  color: goldenrod;
}

@media (min-width: 768px) {
  .title {
    width: 60vw;
  }
}

@media (min-width: 1024px) {
  .title {
    width: 30vw;
  }
}
