.checkbox {
  text-align: center;
}

.listtable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  padding-inline-start: unset;
  padding-top: 20px;
}

.check {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .listtable {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .listtable {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .checkbox {
    text-align: left;
    margin-left: 280px;
  }
}
