.list {
  justify-self: center;
}

.gryffindor {
  color: #d3a625;
}

.hufflepuff {
  color: #f0c75e;
}

.ravenclaw {
  color: #946b2d;
}

.slytherin {
  color: #aaaaaa;
}

.imglist {
  height: 150px;
  width: 120px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  &.gryffindor {
    border: solid 5px #d3a625;
  }

  &.hufflepuff {
    border: solid 5px #f0c75e;
  }

  &.ravenclaw {
    border: solid 5px #946b2d;
  }

  &.slytherin {
    border: solid 5px #aaaaaa;
  }
}

.charactername {
  width: 120px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0;
}

.characterspecies {
  width: 120px;
  text-align: center;
  font-size: 14px;
  margin-top: 0;
}

@media (min-width: 768px) {
  .imglist {
    height: 250px;
    width: 220px;
  }

  .charactername {
    width: 220px;
    font-size: 20px;
  }

  .characterspecies {
    width: 220px;
    font-size: 16px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .imglist {
    height: 280px;
  }

  .charactername {
    font-size: 22px;
  }

  .characterspecies {
    font-size: 18px;
  }
}
