.characterbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  margin-top: 20px;
  width: 100%;

  &.gryffindor {
    color: #d3a625;
  }

  &.hufflepuff {
    color: #f0c75e;
  }

  &.ravenclaw {
    color: #946b2d;
  }

  &.slytherin {
    color: #aaaaaa;
  }
}

.fas {
  padding: 0 15px;
}

.sectiondetail {
  width: 85%;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 30px 10px 0;
  margin: 10px;

  &.gryffindorbackground {
    background-image: url(../images/gryffindor.jpg);
  }
  &.slytherinbackground {
    background-image: url(../images/slytherin.jpg);
  }
  &.ravenclawbackground {
    background-image: url(../images/ravenclaw.jpg);
  }
  &.hufflepuffbackground {
    background-image: url(../images/hufflepuff.jpg);
  }
}

.characterimg {
  height: 150px;
  width: 120px;
  object-fit: cover;
  object-position: top;
  margin: 30px;
  border-radius: 5px;

  &.gryffindor {
    border: solid 5px #d3a625;
  }

  &.hufflepuff {
    border: solid 5px #f0c75e;
  }

  &.ravenclaw {
    border: solid 5px #946b2d;
  }

  &.slytherin {
    border: solid 5px #aaaaaa;
  }
}

.charactercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  height: max-content;
  padding: 0 10px;

  &.gryffindorcolor {
    background-color: rgba(162, 117, 22, 0.8);
    color: #380001;
  }
  &.slytherincolor {
    background-color: rgba(12, 65, 11, 0.8);
    color: #aaaaaa;
  }
  &.ravenclawcolor {
    background-color: rgba(164, 120, 17, 0.8);
    color: #080725;
  }
  &.hufflepuffcolor {
    background-color: rgba(169, 128, 40, 0.8);
    color: #372e29;
  }
}

@media (min-width: 768px) {
  .sectiondetail {
    width: 500px;
    font-size: 16px;
  }

  .link {
    margin-bottom: 20px;
    width: auto;
    font-size: 18px;
  }

  .characterimg {
    height: 250px;
    width: 220px;
    margin-right: 30px;
  }
}

@media (min-width: 1024px) {
  .sectiondetail {
    width: 800px;
    font-size: 18px;
  }

  .characterimg {
    height: 300px;
    width: 280px;
    margin-right: 50px;
  }
}
