@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

body {
  font-family: "MedievalSharp", cursive;
  font-weight: bold;
  font-size: 16px;
  background-color: goldenrod;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}
