@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

#root {
  height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: "MedievalSharp", cursive;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

li {
  list-style: none;
}
